/* You can add global styles to this file, and also import other style files */

html {
    height: 100%
}

body {
    background-color: #534292;
    background-image: linear-gradient(to bottom, #654a86, #534292);
}